.ourleadermain {
  background-color: #fbfbfd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.head1 {
  margin-top: 5%;
  font-family: 'Sackers Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 73px;
  line-height: 100px;
  text-align: left;
  color: #0c1f30;
  margin-left: 5%;

  /* background-color: #6E6E73; */
}

.head2 {
  /* background-color: #6E6E73; */
  margin-top: -17%;
  font-family: 'Sackers Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 73px;
  line-height: 100px;
  text-align: left;
  color: #0c1f30;
  margin-left: 5%;
}

.leadinfo {
  background-color: #f1f1f1;
  display: flex;
  margin-top: 5%;
  margin-right: 15%;
}

.leaddata {
  margin-top: 5%;
  text-align: left;
}

.leadname {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

.leadposition {
  font-size: 17px;
  color: #666;
}

.leadtxt {
  font-size: 15px;
  color: #6e6e73;
}
